<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>GetWiFiSSID</string>
    <key>CFBundleIdentifier</key>
    <string>com.sketchybar.getwifissid</string>
    <key>CFBundleName</key>
    <string>GetWiFiSSID</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>NSLocationUsageDescription</key>
    <string>This app needs location access to display your WiFi network name in SketchyBar.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs location access to display your WiFi network name in SketchyBar.</string>
</dict>
</plist>
